body{
    background-color: lightblue;
}
p::first-line{
    color: red;
}
h1{
    color: blue;
}

nav p:hover{
    background-color: yellow;
    color: red;
}
a:link{
    background-color: white;
    color: blue;
text-decoration: underline;

p.s {
    font-weight: bold;
}

}
a:visited{
    color: white;
    background-color: blue;
text-decoration: underline;
}

nav p{
    color: blue;
    display: inline;
}